extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Tasneem Amreliwala

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I was always fascinated by the impact of technologies in our lives, and software development stood out to be the most interesting field, which led me to do some self-learning and I eventually joined a coding bootcamp.
            | I am now working as an intern at a software company and also a talentpath student at a techdegree program.
            | At this point I have gained the skills needed to be a full-stack web developer.
            | I believe that being a web developer means life-long learning, which I am really excited about.


      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Express
          li HTML
          li CSS
          li Jquery
          li React.js
          li Ruby on Rails
          li SQL
          li Node.js
          li Git

        h6 Contact Info

        ul
          li tasneemec7@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/tasneem-amreliwala' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/Tasneem52' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
